@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;500;600;700;800&display=swap");
* {
  font-family: "Merriweather", serif;
  font-weight: normal;
}

body {
  background: linear-gradient(to bottom, #ffffff 5%, #f8f4f1 40%);
}
body.popup-open {
  overflow: hidden;
}

section {
  margin: 40px 0px;
}

.container {
  max-width: 1300px;
}

/*header*/
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 999;
}
.header-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.header .menu-toggle {
  display: none;
  width: 36px;
  height: 36px;
  border: 0;
  background: #1f1f35;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.link {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  cursor: pointer;
  color: #000;
  box-shadow: inset 0 0 0 0 #97c680;
  transition: all 0.3s ease;
}
.link:hover {
  box-shadow: inset 0 -9px 0 0 #97c680;
}
.link.active {
  box-shadow: inset 0 -9px 0 0 #97c680;
}

.mobile-btn-group {
  display: none;
}

.menu-nav {
  display: flex;
  gap: 40px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.btn-group {
  align-items: center;
}
.btn-group .login {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: transparent;
}

.free-trial {
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 20px !important;
  background-color: #97c680;
  box-shadow: inset 0 45px 0 0 #1e1e2f;
  transition: all 0.3s ease;
  margin-left: 20px !important;
  font-size: 16px;
}
.free-trial:hover {
  box-shadow: inset 0 45px 0 -50px #1e1e2f;
  color: #1e1e2f;
}

/* find passion */
.top-section {
  display: flex;
  gap: 100px;
}
.top-section .leading-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-section .leading-content .content h2 {
  font-family: "Playfair Display", serif;
  font-size: 68px;
  font-weight: 700;
}
.top-section .slider {
  display: flex;
  gap: 35px;
  width: 100%;
  height: 500px;
}
.top-section .slider .slide {
  width: 21%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: width 0.6s ease;
}
.top-section .slider .slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}
.top-section .slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.top-section .slider .slide .slide-content .category {
  font-size: 24px;
  transform: rotate(270deg);
  background: #1e1e2f;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  color: #fff;
  z-index: 2;
  padding-top: 10px;
  padding-left: 20px;
}
.top-section .slider .slide .slide-content .hover-text {
  display: none;
}
.top-section .slider .slide.active {
  width: 58%;
}
.top-section .slider .slide.active:first-child .slide-content .hover-text {
  padding: 0px 10px 0px 50px;
}
.top-section .slider .slide.active .slide-content .category {
  display: none;
}
.top-section .slider .slide.active .slide-content .hover-text {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  z-index: 2;
  position: absolute;
  bottom: 40px;
  color: #fff;
  align-items: center;
  width: 100%;
}
.top-section .slider .slide.active .slide-content .hover-text p {
  font-family: "Faustina", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  margin: 0;
}

.subscribe-form {
  display: flex;
  position: absolute;
  z-index: 3;
  bottom: 40px;
}
.subscribe-form input {
  padding: 10px 20px;
  border: 1px solid transparent;
  width: 250px;
  color: #000;
  font-size: 20px;
  box-shadow: 0 46px 50px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.3s ease;
}
.subscribe-form input:hover {
  box-shadow: 0 46px 50px 0 rgba(0, 0, 0, 0.1);
}
.subscribe-form input:focus {
  outline: none;
  border: 1px solid #97c680;
}
.subscribe-form button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  background-color: #97c680;
  color: #1e1e2f;
  border: none;
  padding: 30px 30px;
  cursor: pointer;
  box-shadow: inset 0 0px 0 0px #feba88;
  transition: all 0.3s ease;
}
.subscribe-form button:hover {
  box-shadow: inset 0 -120px 0 0px #feba88;
}
.subscribe-form.bottom {
  position: unset;
}
.subscribe-form.middle {
  display: none;
}

/* categories */
.courses h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 130%;
  margin-bottom: 30px;
}
.courses .cat-nav {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0 auto 40px;
  justify-content: center;
}
.courses .cat-nav li {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding-bottom: 0px;
  cursor: pointer;
  transform: transition 0.3s ease;
  border-bottom: 2px solid transparent;
}
.courses .cat-nav li.active {
  border-bottom: 2px solid #000;
}
.courses .cat-nav li:not(.active):hover {
  border-bottom-color: #a79c9c;
}

.courses-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.courses-wrapper.cards-grow {
  align-items: flex-end;
  transition: all 0.3s ease;
}
.courses-wrapper.cards-grow .course-item.card-2 .image-wrapper img {
  height: 270px;
}
.courses-wrapper.cards-grow .course-item.card-3 .image-wrapper img {
  height: 310px;
}
.courses-wrapper.cards-down {
  align-items: stretch;
  transition: all 0.3s ease;
}
.courses-wrapper.cards-down .course-item.card-2 .image-wrapper img {
  height: 270px;
}
.courses-wrapper.cards-down .course-item.card-3 .image-wrapper img {
  height: 310px;
}
.courses-wrapper .course-item {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  will-change: transform;
  width: 100%;
}
.courses-wrapper .course-item.hidden {
  visibility: hidden;
}
.courses-wrapper .course-item .image-wrapper {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.courses-wrapper .course-item .image-wrapper img {
  display: block;
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: height 0.55s cubic-bezier(0.4, 0, 0.2, 1);
}
.courses-wrapper .course-item .hover-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.courses-wrapper .course-item .hover-arrow img {
  width: 14px;
  height: 14px;
}
.courses-wrapper .course-item:hover .hover-arrow {
  opacity: 1;
}
.courses-wrapper .course-item .content {
  padding: 14px;
}
.courses-wrapper .course-item .content h3 {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  margin-bottom: 6px;
}
.courses-wrapper .course-item .content h3:hover {
  color: #97c680;
}
.courses-wrapper .course-item .content p {
  font-family: "Faustina", serif;
  font-size: 14px;
  color: #888;
  line-height: 130%;
  margin: 0px;
}

/* skills */
.skills .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}
.skills .content h2 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: 700;
  color: #000;
  line-height: 130%;
}
.skills .content p {
  font-family: "Faustina", serif;
  font-size: 24px;
  color: #555;
  line-height: 130%;
  margin: 0px 0px 0px;
}
.skills .overview {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 60px;
  margin-top: 80px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.features .item {
  display: flex;
  gap: 18px;
  position: relative;
}
.features .item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 60px;
  bottom: -40px;
  left: 25px;
  border-left: 2px dashed #bdbdbd;
}
.features .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  min-width: 55px;
  border-radius: 50%;
  background: #fff;
}
.features .item .info h4 {
  font-family: "Merriweather", serif;
  font-size: 18px;
  margin-bottom: 8px;
}
.features .item .info p {
  font-family: "Faustina", serif;
  font-size: 14px;
  color: #666;
  line-height: 130%;
  margin: 0;
}

.media {
  position: relative;
}
.media .score-box {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #98c67a;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  gap: 60px;
  z-index: 2;
}
.media .score-box .details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media .score-box .details:first-child::after {
  content: "";
  width: 1px;
  height: 40px;
  background: #000;
  margin-left: 30px;
}
.media .score-box .details h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.media .score-box .details p {
  font-family: "Faustina", serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 130%;
  margin: 0;
}
.media .video {
  border-radius: 18px;
  overflow: hidden;
}
.media .video video {
  width: 100%;
  display: block;
  object-fit: cover;
}

/*testimonial*/
.testimonials h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 130%;
}
.testimonials .testimonial-wrapper {
  overflow: hidden;
  margin: 30px 0px;
}
.testimonials .testimonial-wrapper .testimonial-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  align-items: flex-start;
}
.testimonials .testimonial-wrapper .testimonial-track::-webkit-scrollbar {
  display: none;
}
.testimonials .testimonial-wrapper .testimonial-card {
  flex: 0 0 calc(25% - 40px);
  background: #fff;
  border-radius: 20px;
  padding: 24px;
}
.testimonials .testimonial-wrapper .testimonial-card p {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 30px;
}
.testimonials .testimonial-wrapper .testimonial-card .user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.testimonials .testimonial-wrapper .testimonial-card .user-info img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials .testimonial-wrapper .testimonial-card .user-info h4 {
  font-size: 18px;
  margin-bottom: 6px;
}
.testimonials .testimonial-wrapper .testimonial-card .user-info span {
  color: #9bc97c;
  font-size: 18px;
}
.testimonials .slider-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.testimonials .slider-buttons .prev,
.testimonials .slider-buttons .next {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s ease;
}
.testimonials .slider-buttons .prev:hover,
.testimonials .slider-buttons .next:hover {
  background: #9bc97c;
  color: #fff;
  border-color: #9bc97c;
}
.testimonials .slider-buttons .prev .active,
.testimonials .slider-buttons .next .active {
  border-color: #9bc97c;
}
.testimonials .slider-buttons .next {
  transform: rotate(180deg);
}

/*footer*/
.footer-top {
  padding: 0px 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid #ddd;
}
.footer-top .footer-links .footer-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-top .footer-links .footer-column li {
  width: fit-content;
  padding-bottom: 20px;
}
.footer-top .footer-subscribe h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.footer-bottom .copyright {
  display: flex;
  align-items: center;
  gap: 18px;
}
.footer-bottom .copyright p {
  font-family: "Faustina", serif;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  margin: 0;
}
.footer-bottom .social-icons {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}
.footer-bottom .social-icons li {
  width: 52px;
  height: 52px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e2f;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  background: transparent;
  cursor: pointer;
}
.footer-bottom .social-icons li .social-btn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom .social-icons li .social-btn img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
.footer-bottom .social-icons li:hover {
  background-color: #1e1e2f;
  border-color: #1e1e2f;
}
.footer-bottom .social-icons li:hover img {
  filter: brightness(0) invert(1);
}

.bottom-bar {
  background: #17172e;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
.bottom-bar a {
  color: #fff;
  font-weight: 600;
}

/*  popup  */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease;
  z-index: 9999;
}
.popup-overlay.active {
  opacity: 1;
  visibility: visible;
}
.popup-overlay.active .popup-box {
  transform: translateY(0) scale(1);
  transition: transform 0.35s ease;
}

.popup-box {
  width: 100%;
  max-width: 720px;
  background: #fff;
  border-radius: 28px;
  overflow: hidden;
  position: relative;
  transform: translateY(40px) scale(0.95);
  transition: all 0.4s ease;
}
.popup-box .close-popup {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 42px;
  height: 42px;
  border: none;
  font-size: 38px;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s ease;
}
.popup-box .popup-top {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.popup-box .popup-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.popup-box .popup-content {
  padding: 42px;
}
.popup-box .popup-content .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.popup-box .popup-content .left h2 {
  font-family: "Merriweather", serif;
  font-size: 34px;
  line-height: 130%;
  margin-bottom: 12px;
  color: #111;
}
.popup-box .popup-content .left p {
  font-family: "Faustina", serif;
  font-size: 18px;
  line-height: 130%;
  color: #777;
  margin: 0px;
}
.popup-box .popup-content .popup-form {
  width: 100%;
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.popup-box .popup-content .popup-form input {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #000;
  padding-right: 80px;
  border-bottom: 1px solid #d8d8d8;
}
.popup-box .popup-content .popup-form input::placeholder {
  color: #8b8b8b;
  font-size: 18px;
}
.popup-box .popup-content .popup-form input:focus {
  outline: none;
  border-bottom: 1px solid #97c680;
}
.popup-box .popup-content .popup-form button {
  position: absolute;
  right: 0;
  width: 42px;
  height: 42px;
  border: none;
  background: #b9ce8b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 26px;
  color: #111;
  transition: 0.3s ease;
  box-shadow: inset 0 0px 0 0px #feba88;
  transition: all 0.3s ease;
}
.popup-box .popup-content .popup-form button:hover {
  box-shadow: inset 0 -120px 0 0px #feba88;
}

@media (max-width: 1200px) {
  .subscribe-form button {
    font-size: 24px;
    padding: 20px 25px;
  }
  .testimonial-wrapper .testimonial-track .testimonial-card {
    flex: 0 0 calc(33.3333333333% - 75px);
  }
}
@media (max-width: 1000px) {
  /* Header */
  .header-wrapper.fixed {
    padding: 10px 0px;
  }
  .header {
    height: 70px;
  }
  .header .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100dvh - 70px);
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.7s ease, opacity 0.7s ease;
  }
  .menu-nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .menu-nav.closing {
    transform: translateY(-100%);
    opacity: 0;
  }
  .btn-group {
    display: none;
  }
  .link {
    box-shadow: none;
    padding: 10px 0px;
    border-bottom: 1px solid #d8d8d8;
  }
  .link.active {
    box-shadow: none;
  }
  .link:hover {
    box-shadow: none;
  }
  .mobile-btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  .mobile-btn-group .login {
    border: 1px solid #1e1e2f;
    padding: 8px 40px;
    border-radius: 20px;
    background: #fff;
  }
  .subscribe-form input {
    padding: 10px 20px;
  }
  .subscribe-form button {
    font-size: 24px;
    padding: 25px 30px;
  }
  /* Top Section (Slider) */
  .top-section .slider {
    gap: 20px;
    height: 450px;
    padding-left: 10px;
  }
  .top-section .slider .slide.active .slide-content .hover-text {
    gap: 10px;
  }
  .top-section .slider .slide.active .slide-content .hover-text p {
    font-size: 20px;
  }
  /* Courses / Categories */
  .courses h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .courses .cat-nav {
    gap: 20px;
    margin: 0 auto 40px;
  }
  .courses .cat-nav li {
    font-size: 15px;
  }
  .courses-wrapper {
    align-items: stretch;
  }
  .courses-wrapper .course-item {
    flex: 1 1 calc(50% - 20px);
  }
  /* Skills Section */
  .skills .content {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .skills .content h2 {
    font-size: 40px;
  }
  .skills .overview {
    gap: 30px;
    align-items: flex-start;
    grid-template-columns: 265px 1fr;
  }
  .features {
    gap: 20px;
  }
  .features .item:not(:last-child)::after {
    left: 30px;
  }
  .media .score-box {
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
  }
  .media .score-box .details:first-child::after {
    margin-left: 20px;
  }
  .media .score-box .details h3 {
    font-size: 24px;
  }
  .media .score-box .details p {
    font-size: 16px;
  }
  /* Testimonials */
  .testimonials .testimonial-wrapper .testimonial-card {
    flex: 0 0 calc(50% - 65px);
  }
  /* Footer */
  .footer-top {
    flex-direction: column;
    gap: 40px;
  }
  .footer-top img {
    width: 200px;
    height: auto;
  }
  .footer-top .footer-subscribe h3 {
    font-size: 30px;
  }
  .footer-top .footer-links .footer-column {
    grid-template-columns: 180px 1fr;
  }
  .footer-top .footer-links .footer-column li {
    border-bottom: none;
  }
  /* Popup */
  .popup-box .popup-content {
    flex-direction: column;
  }
  .popup-box .popup-content .left {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media (max-width: 570px) {
  body.menu-open {
    overflow: hidden;
  }
  section {
    margin: 20px 0;
  }
  .container {
    padding: 0 18px;
  }
  .header.fixed {
    padding: 10px 0px;
  }
  .mobile-btn-group {
    width: 100%;
    padding: 20px 20px;
  }
  .mobile-btn-group .login {
    width: 50%;
  }
  .mobile-btn-group .free-trial {
    width: 50%;
  }
  .top-section {
    flex-direction: column;
    gap: 40px;
  }
  .top-section .slider {
    display: flex;
    overflow-x: scroll;
    gap: 16px;
    padding: 0 20px;
  }
  .top-section .slider::-webkit-scrollbar {
    display: none;
  }
  .top-section .slide {
    flex: 0 0 80%;
    opacity: 0.6;
    transform: scale(0.95);
    transition: all 0.3s ease;
  }
  .top-section .slide.active {
    opacity: 1;
    transform: scale(1);
  }
  .top-section .slide .slide-content .category {
    display: none;
  }
  .top-section .leading-content .input {
    display: none;
  }
  .top-section .leading-content .content {
    padding: 0 10px;
  }
  .top-section .leading-content .content h2 {
    font-size: 50px;
  }
  .slider-buttons {
    margin-top: 25px;
  }
  .slider-buttons button {
    width: 46px;
    height: 46px;
    font-size: 16px;
  }
  .courses-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .courses-wrapper .empty-state {
    width: 100%;
    height: 300px;
  }
  .courses-wrapper .course-item.hidden {
    display: none;
  }
  .courses-wrapper .course-item .hover-arrow {
    opacity: 1;
  }
  .courses-wrapper .course-item .image-wrapper {
    height: 300px;
  }
  .courses-wrapper .course-item .image-wrapper img {
    width: 100%;
    height: 100%;
  }
  .courses .cat-nav {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 20px;
    margin: 0 auto 20px;
    padding-bottom: 10px;
    scrollbar-width: none;
  }
  .courses .cat-nav li {
    position: relative;
    padding-bottom: 0px;
    font-size: 14px;
    white-space: nowrap;
  }
  .skills .content {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .skills .content h2 {
    font-size: 30px;
  }
  .skills .overview {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 30px;
  }
  .media .score-box {
    position: absolute;
    top: -25px;
    left: 50%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
    background: #98c67a;
    transform: translateX(-50%);
  }
  .media .score-box .details:first-child::after {
    margin-left: 10px;
  }
  .media .score-box .details h3 {
    font-size: 18px;
  }
  .media .score-box .details p {
    font-size: 12px;
  }
  .testimonials h2 {
    font-size: 30px;
  }
  .testimonials .testimonial-wrapper .testimonial-track {
    gap: 18px;
  }
  .testimonials .testimonial-wrapper .testimonial-card {
    flex: 0 0 calc(100% - 75px);
    padding: 20px;
  }
  .testimonials .testimonial-wrapper .testimonial-card p {
    font-size: 16px;
  }
  .testimonials .testimonial-wrapper .testimonial-card .user-info img {
    width: 48px;
    height: 48px;
  }
  .testimonials .testimonial-wrapper .testimonial-card .user-info h4 {
    font-size: 18px;
  }
  .testimonials .testimonial-wrapper .testimonial-card .user-info span {
    font-size: 14px;
  }
  .footer-top {
    gap: 40px;
    padding: 25px 0;
  }
  .footer-top img {
    width: 180px;
  }
  .footer-top .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .footer-top .footer-links .footer-column {
    grid-template-columns: 180px 1fr;
    gap: 20px;
  }
  .footer-top .footer-links .footer-column li {
    padding: 0;
  }
  .footer-top .footer-subscribe h3 {
    font-size: 22px;
  }
  .subscribe-form {
    position: unset;
    display: flex;
    width: 100%;
  }
  .subscribe-form input {
    width: 300px;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #000;
    font-size: 20px;
    box-shadow: 0 46px 50px 0 rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease;
  }
  .subscribe-form button {
    border: none;
    padding: 20px 30px;
    background-color: #97c680;
    color: #1e1e2f;
    cursor: pointer;
    font-size: 28px;
    box-shadow: inset 0 0px 0 0px #feba88;
    transition: all 0.3s ease;
  }
  .subscribe-form.top {
    display: none;
  }
  .subscribe-form.middle {
    z-index: 0;
    display: flex;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 25px;
  }
  .footer-bottom .copyright {
    margin: 0 auto;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .circle-logo {
    width: 36px;
    height: 36px;
  }
  .popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .popup-box {
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    max-height: 90vh;
    border-radius: 16px;
    -webkit-overflow-scrolling: touch;
  }
  .popup-box .close-popup {
    top: 10px;
    right: 10px;
    font-size: 30px;
  }
  .popup-box .popup-top {
    height: 180px;
  }
  .popup-box .popup-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .popup-box .popup-content {
    padding: 22px 16px;
  }
  .popup-box .popup-content .left {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .popup-box .popup-content .left h2 {
    font-size: 24px;
  }
  .popup-box .popup-content .left p {
    font-size: 15px;
  }
  .popup-box .popup-content .popup-form {
    margin-top: 24px;
  }
  .popup-box .popup-content .popup-form input {
    height: 56px;
    padding-right: 65px;
    font-size: 15px;
  }
  .popup-box .popup-content .popup-form input::placeholder {
    font-size: 15px;
  }
  .popup-box .popup-content .popup-form button {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
